<!doctype html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CDNを利用 -->
  <!-- jQuery▼ -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="../js/index.js"></script>
  <!-- jQuery▲ -->
  <!-- CSS▼ -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/index.css">
  <!-- CSS▲ -->

  <title>生涯通勤時間チェッカー</title>
</head>

<body>
  <header class="text-center pt-3 pb-3">
    <div class="">
      <a href="../View/index.html" class="text-decoration-none">
        <h3>通勤時間チェッカー</h3>
      </a>
    </div>
    <label>あなたが生涯通勤に使う時間を算出します。</label>
  </header>

  <main>
    <form action="result.php" method="POST">

      <div class="col-10 container text-center">

        <div class="head-birthday">
          <h5 class="title-birthday mb-3">生年月日</h5>
          <div class="item-birthday mb-3">
            <div class="form-inline">
              <select class="form-select" name="year" style="width: 100px;" onchange="setDay();">
              </select>
              <select class="form-select" name="month" style="width: 80px;" onchange="setDay();">
              </select>
              <select class="form-select" name="day" style="width: 80px;">
              </select>
            </div>
          </div>
        </div>

        <div class="head-commute">
          <h5 class="title-commute mb-1">通勤時間（片道）</h5>
          <div class="item-commute mb-3">
            <div class="form-inline">
              <input class="form-input" name="tukin" type="text" value="15" readonly />
              <label class="">分</label>
            </div>
            <div class="mt-1">
              <input type="button" class="btn btn-danger" onclick="BtnCalc(-5, 'tukin')" value="-5" />
              <input type="button" class="btn btn-primary" onclick="BtnCalc(5, 'tukin')" value="+5" />
            </div>
          </div>
        </div>

        <div class="head-holiday">
          <h5 class="title-holiday mb-1">年間休日</h5>
          <div class="item-holiday mb-3">
            <div class="form-inline">
              <input class="form-input" name="holiday" type="text" value="120" readonly />
              <label class="pt-2">日</label>
            </div>
            <div class="mt-1">
              <input type="button" class="btn btn-danger" onclick="BtnCalc(-1, 'holiday')" value="-1" />
              <input type="button" class="btn btn-primary" onclick="BtnCalc(1, 'holiday')" value="+1" />
            </div>
          </div>
        </div>

        <div class="head-retire">
          <h5 class="title-retire mb-1">定年予定</h5>
          <div class="item-retire mb-3">
            <div class="form-inline">
              <input class="form-input" name="retire" type="text" value="60" readonly />
              <label class="pt-2">歳</label>
            </div>
            <div class="mt-1">
              <input type="button" class="btn btn-danger" onclick="BtnCalc(-1, 'retire')" value="-1" />
              <input type="button" class="btn btn-primary" onclick="BtnCalc(1, 'retire')" value="+1" />
            </div>
          </div>
        </div>

        <div>
          <button type="submit" class="btn btn-dark text-nowrap mb-3">
            計算する
          </button>
        </div>
      </div>
    </form>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
</body>

</html>